@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.FormContactContainer {
  background-image: url("../assets/FormBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  font-family: "Lato", sans-serif;
}
.vector {
  height: auto;
  margin: 0;
  width: auto;
  gap: 15px;
}
.TitleFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  color: #ffffff;
  padding-top: 1.5rem;
}
.TitleFormContainer h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
.TitleFormContainer h2 {
  font-size: 2rem;
  font-weight: 500;
}

/* Form */

.FormContainer {
  margin-top: 6rem;
  padding-inline: 6rem;
  padding-bottom: 5rem;
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 37.5rem;
  width: 100%;
  background-color: #ffffff;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  padding-inline: 5.5rem;
}
.Group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5rem;
}

/* Form Input */

.FormInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.FormInput input {
  width: 100%;
  height: 3.5rem;
  border: none;
  border-bottom: 1px solid #716f6f;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.FormInput input::placeholder {
  font-size: 1.25rem;
  font-weight: 400;
  color: #716f6f;
  font-family: "Lato", sans-serif;
}

.FormInput input:focus {
  outline: none;
  border-bottom: 1px solid #000000;
}

.FormInput textarea {
  margin-top: 3rem;
  width: 100%;
  height: 13.2rem;
  margin-bottom: 1rem;
  color: #000000;
  resize: none;
  padding: 11px 0 0 8px;
}

.FormInput textarea::placeholder {
  font-size: 1.25rem;
  font-weight: 500;
  color: #716f6f;
  font-family: "Lato", sans-serif;
}

.FormInput textarea:focus {
  outline: none;
}

/* Form Button */

.ButtonFormContainer {
  margin-left: auto;
  margin-top: 2.4rem;
}
.ButtonForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #922630;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 1rem 5.6rem;
  font-family: "Lato", sans-serif;
}
